apispec==6.8.2
attrs==25.3.0
blake3==1.0.5
cbor2==5.6.5
cffi==1.17.1
cryptography==45.0.4
falcon==4.0.2
hio==0.6.14
hjson==3.1.0
http_sfv==0.9.9
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
keri==1.2.6
lmdb==1.6.2
mnemonic==0.21
msgpack==1.1.1
multicommand==1.0.0
multidict==6.4.4
ordered-set==4.1.0
packaging==25.0
prettytable==3.16.0
pycparser==2.22
pysodium==0.7.18
PyYAML==6.0.2
qrcode==8.2
referencing==0.36.2
rpds-py==0.25.1
semver==3.0.4
typing_extensions==4.14.0
wcwidth==0.2.13
